body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  font-weight: bold;
  color: red;
}

/* Game control styles */
#reset {
	color: blue;
}

/* Hide translation span unless #reset:hover ... Not MVP*/
#reset span {
	display: none;
}

#reset:hover {
	display: hidden;
}

#reset:hover span {
	display: block;
}

/* Card and board styles */

.flex {
	display: flex;
}
.card {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;

	border: 2px solid black;
	border-radius: 10px;
	min-height: 30px;
	min-width: 30px;
	max-width: 30px;
	max-height: 30px;
	margin: 10px;
}

.card:hover {
	border-color: yellow;
	background-color: red;
}

/* For now, flipped text just has alpha 0. Need to find a way to hide it entirely */
.flipped div {
	background: repeating-linear-gradient(
		45deg,
		red,
		red 10px,
		yellow 10px,
		yellow 20px
		);
		color: rgba(0,0,0,0);

},
